/* TablaCotizacion.module.css */
.card {
    padding: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}

.tableResponsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead tr th{
    background-color: #dc3545;
    color: #fff;
}

.table th,
.table td {
    text-align: center;
    padding: 0.5rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        padding: 0.5rem;
    }

    .table th,
    .table td {
        font-size: 0.9rem;
        padding: 0.4rem;
    }
}