.con{
    margin-top: 50px;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.select, .input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    width: 48%;
}
